<!DOCTYPE html>
<html>

<body>
  <p><%= @user.full_name %>,</p>
  <p>
  This is to notify you that <%= User.find(@appointment.cancelled_id).full_name %> has cancelled their appointment with you on <%= @appointment.date %> at <%= @appointment.start_time.strftime("%l:%M%p") %>.
</body>
</html>
