<!DOCTYPE html>
<html>

<body>
  <p><%= @user.full_name %>,</p>
  <p>
  You scheduled your self for an appointment on <%= @appointment.date %> at
  <%= @appointment.start_time.strftime("%l:%M%p") %>.  See you then!
  </p>
</body>
</html>
